<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Connection strings: replace SERVER_NAME, DATABASE_NAME and YOUR_SA_PASSWORD as needed -->
  <connectionStrings>


    <!-- SQL Server authentication (user = sa) -->
    <add name="QLBHConnection"
         connectionString="Server=.;Database=QLBH;User ID=sa;Password=red;MultipleActiveResultSets=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
